.container {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 4rem 1fr;
}


.main {
    padding: 3.2rem;
    background-color: #111827;
}
