.header {
  background-color: #18212f;
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.header h3 {
  margin-left: 1rem;
}

.hero {
  color: red;
}

.container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 1rem;
}

.container a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container svg {
  min-height: 50px;
  min-width: 50px;
  padding: 0.1rem;
  margin: 0 16px;
  color: #4f46e5;
  cursor: pointer;
}

.container svg:hover {
  color: #40c057;
  cursor: pointer;
}
