.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  z-index: 1000;
  transition: all 0.4s ease;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 70vw;
  min-width: 80vw;

  height: 70vh;
  max-height: 90vh;

  background-color: #18212f;
  color: white;
  border-radius: 8px;
  transition: all 0.4s ease;
}

.overlay .modal .close {
  position: absolute;
  top: 1.2rem;
  right: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: inherit;
  padding: 0.4rem;
  border-radius: 5px;

  border: none;
  outline: none;

  transform: translateX(0.8rem);
  transition: all 0.3s;
}

.overlay .modal button:hover {
  background-color: #263756;
}

.overlay .modal button svg {
  width: 1.2rem;
  height: 1.2rem;
  color: #9ca3af;
}
