.sidebar {
  grid-row: 2 / 3;
  background-color: #18212f;
  padding: 1rem;
  border-right: 1px solid white;
}

.sidebar ul {
  margin-top: 1rem;
}

.sidebar li {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: left;
  margin: 10px 0;
  padding: 8px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
}

.sidebar li svg {
  min-height: 40px;
  min-width: 40px;
  color: #4f46e5;
}

.sidebar li:hover {
  background-color: #111827;
}
