.formElement {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 2fr;
  /* font-size: ; */
  border-bottom: 1px solid #58606b;
  padding-bottom: 0.8rem;
}

.formElement label {
  font-size: bold;
}

.formElement input {
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
  border: 1px solid #4b5563;
  background-color: #18212f;
  border-radius: 5px;
  justify-self: center;
  color: white;
}

.formElement input:focus {
  border: 3px solid green;
}
