PORT= 3000

DATABASE=Your MongoDB database address
DATABASE_PASSWORD=Your MongoDB database password
JWT_SECRET= secret key for jwt such as "secret"

JWT_EXPIRES_IN = expiration time after jwt created for example "3h" =3 hour
COOKIE_EXPIRES_IN=1



