.homework {
  border-top: 1px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.homework a {
  color: #9c27b0;
  justify-self: end;
}
.homework a:hover {
  color: #69db7c;
}

.head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
