.back {
  width: 200px;
  cursor: pointer;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  margin-bottom: 1rem;
}

.back:hover {
  color: #4f46e5;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}

.manage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;
}

.manage button {
  margin-left: 1rem;
}
