.photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}

.manage {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 1rem;
}
